html {
	width: 100%;
	height: 100%;
}
body{
	position: relative;
	width: 100%;
	height: 100%;
	margin: 0px;
}
div.dot{
	position: absolute;
	width: 20px;
	height: 20px;
	background-color: #000;
	border-radius: 20px;
	user-drag: none;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-drag: none;
	-webkit-user-select: none;
	-ms-user-select: none;
}
div.temp{
	background-color: #333;
}
